{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <section class="categories">
        <div class="container">
            <h2 class="section-title">Категории товаров</h2>
            <div class="categories-grid">
                {% for category in categories %}
                <a class="category-card" hx-get="{% url 'shop:product_list_by_category' category.slug %}" hx-target="#product_list" hx-trigger="click">
                    <div class="category-icon">
                        <img src="{{ category.category_icon.url }}" alt="{{ product.name }}" weight='50px' height='50px' />
                    </div>
                    <h3 class="category-title">{{ category.name }}</h3>
                    <p class="category-desc">{{ category.category_desc }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
        <div id="product_list">
        {% include "shop/product_list.html" %}
        </div>
    </section>
{% endblock %}