<section class="products">
        <div class="container">
            <h2 class="section-title">Популярные товары</h2>
            <div class="products-grid">
                {% for product in products %}
                <div class="product-card">
                    <div class="product-image">
                        <a href="{% url 'shop:product_detail' id=product.id slug=product.slug %}">
                        <img src="{{ product.main_image.url }}" alt="{{ product.name }}" />
                        </a>
                    </div>
                    <div class="product-info">
                        <h3 class="product-title">{{ product.name }}</h3>
                        <p class="product-price">{{ product.price }}₽</p>

                        <a href="{% url 'shop:product_detail' id=product.id slug=product.slug %}">
                            <button class="add-to-cart-btn">В корзину</button>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>  


